.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 20vh;
  object-fit: cover;
  object-position: 0 13%;
}

h1{
  color: rgb(244, 244, 244);
  font-size: 3vw;
  font-weight: 900;
  margin-top: 2%;
  margin-left: 6%;
  position: absolute;
  z-index: 1;
  text-shadow: 0vw 0vw 3vw rgb(167, 162, 162);
}