h1 {
  position: static;
  margin: 0
}

.movie-details {
  text-align: left;
}

.stats :nth-last-child(-n+5) {
  margin: 0.3em 0
}

.stats :last-child {
  margin-bottom: 20%
}

.genres {
  font-weight: 900;
}

.movie-title-tagline {
  margin-left: 20px;
}

.movie-overview {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 5%;
  box-sizing: border-box;
  margin-left: 20px;
}